$font: 'Poppins', sans-serif;

@mixin letter-style($letter-way: uppercase){
  text-transform: uppercase;
}

body {
  font-family: $font;
}

.page {
  padding: 20px;

  @media (min-width:1440px) {
    padding: 100px 200px 50px;
  }
}

.title {
  .title__text {
    margin-top: 40px;
  }

  .details {
    .detail__title {
      @include letter-style;
      margin-top: 30px;
    }

    .detail__text {
      text-align: justify;
      margin-bottom: 40px;
    }
  }

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .title__text {
      margin-top: 0;
    }

    .details {
      width: 50%;

      .detail__title {
        margin-top: 0;
      }
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .container__person {
    @include letter-style;
    cursor: pointer;
    height: 300px;
    width: 40%;
    position: relative;

    section {
      display: flex;
      justify-content: flex-start;
      
      img {
        width: 100%;
      }

      p {
        transform: rotate(90deg);
        font-size: 14px;
        position: absolute;
        top: -5px;
        right: -20px;
        width: 130px;
        height: 145px;
        margin: 0;
      }
    }

    h1 {
      font-size: 16px;
    }

    @media (min-width: 1440px) {
      width: 27%;
      height: 500px;
    }
  }

  .container__person--down-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      top: 65px !important;
    }

    @media (min-width: 1440px) {
      justify-content: flex-start;

      p {
        top: -5px !important;
      }
    }
  }

  .container__person--down-desktop {
    @media (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p {
        top: 50px !important;
      }
    }
  }
}

.footer {
  text-align: center;
  width: 100%;
  color: rgb(172, 168, 168);
  font-size: 14px;

  a {
    color: rgb(172, 168, 168);
    text-decoration: none;
    cursor: pointer;
  }
}